.head h3 {
  text-align: center;
  margin-bottom: 20px;
}

.d-none {
  display: none;
}

.alert {
  padding: 10px;
  color: #051b11;
  background-color: #75b798;
  /* border-color: #0f5132; */
}

strong {
  font-weight: bold;
}

form .form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin: 5px;
}

select {
  width: 100%;
  padding: 0.5rem;
  margin: 7px 0;
  border-radius: 10px;
  border-width: 1px;
}

input {
  width: 100%;
  padding: 0.5rem;
  margin: 7px 0;
  border-radius: 10px;
  border-width: 1px;
}

input[type="email"],
input[type="text"],
textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  margin: 7px 0;
  border-radius: 10px;
  border-width: 1px;
  font-size: 14px;
}

input::placeholder,
textarea::placeholder {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #999;
}

.btn-kirim {
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #fff;
  background-color: #3c91e6;
  /* transition: background-color 0.4s; */
}

.btn-kirim:hover {
  transition: 0.4s;
  background-color: #2e8b57;
}

.btn-batal {
  padding: 10px;
  margin-top: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  color: #3c91e6;
  background-color: #cfe8ff;
}

.btn-batal:hover {
  transition: 0.4s;
  color: #fff;
  background-color: #2e8b57;
}
